<footer class="footer">

<h6>Copyright 2019</h6>

</footer>

<%# /* pulls in info to get css working */ %>
<link rel='stylesheet' href='/css/style.css'>
<script src='client.js' charset='utf-8'></script>