<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%-include ./partials/_navbar.ejs%>
<%-include ./partials/_jumbo.ejs%>

<form action='/books' method='POST'>

<div class = 'container-fluid'>
    <div class = 'row'>
        <div class = 'col'>
            <h3>ADD A BOOK</h3>
        </div>
    </div>  
    <div class = 'row'>                  
        <div class = 'col mainSection'>
            Title: <input type='text' name='title' /><br/>
            Author: <input type='text' name='author' /><br/>
            Genre: <input type='text' name='genre' /><br/>
        </div>
        <div class = 'col secondSection'>
            Prior Club Read: <input type='text' name='clubRead' /><br/>
            Suggest For Club: <input type='text' name ='clubSuggest' /><br> 
            Next Club Read: <input type='text' name ='nextBook' /><br> 
        </div>
    </div> 
    <div class = 'row'>
        <div class = 'col centeredDiv'>
            <input type='submit' name='' value="Add New Book" />
        </div>
    </div>
</div> 

</form>  



<%-include ./partials/_footer.ejs%>


</body>
</html>