
.title {
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0 4px 0;
}

.author , .buttons {
    font-size: 14px;
    margin: 2px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.nextBook {
    text-align: center;
}

.navbar {
    background: black;
}

.btn {
    background: black;
    color: white;
    border: none;
}

.jumbotron {
    border-radius: 0;
}

.container-fluid {
    min-height: 300px;
}