
.title {
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0 4px 0;
}

.author , .buttons {
    font-size: 14px;
    margin: 2px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    margin: 5px;
    color: 	#040927;
}

section {
    text-align: center;
    padding: 30px 0;
}

.row {
    margin: 20px 0;
}

.mainSection {
    text-align: center;
    margin: 0px 20px;
    padding: 30px 10px;
}

.secondSection {
    /* text-align: center; */
    margin: 0px 20px;
    padding: 30px 10px; 
}

.addBook {
    margin: 0px 20px;
    padding: 30px 10px; 
}

.centeredDiv {
    text-align: center;
}

.container-fluid {
    background: #FFFBEB; 
    min-height: 420px;
}

.loginForm {
    text-align: center;
    padding: 30px;
}

.buttonFormat {
    border-radius: 10px;
    color: black;
    background-color: white;
    font-size: 16px;
}

.row {
    margin: 0;
}

.navbar {
    background: #040927;
}

.btn {
    background: #040927;
    color: white;
    border: none;
}

.jumbotron {
    border-radius: 0;
    margin: 0;
}

.footer {
    background: #040927;
    color: white;
    /* margin: 20px 0 0 0; */
    min-height: 50px;
}

.bigPic {
    max-height: 300px;
}

.smallPic {
    max-height: 150px;
}

.readList {
    display: inline;
    margin: 10px;
}