<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%-include ../partials/_navbar.ejs%>
<%-include ../partials/_jumbo.ejs%>
<form action="/users/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <input type="submit" value="LOGIN">
</form>

<h6>New user? Make an account <a href="/users/new">here</a></h6>
  <%-include ../partials/_footer.ejs%>
    
</body>
</html>